<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="assets/styles/css/style.css" />
    <title>Stories</title>
</head>
<body>
    <header>
        <section>
            <nav class="header-nav">
                <li><a>layouts</a></li>
                <li><a>documents</a></li>
                <li><a>search</a></li></a></li>
                <li><a>documents</a></li>
                <li><a>layouts</a></li>
                <li><a>documents</a></li>
                <li><a>search</a></li>
                <li><a>search</a></li>
                <li><a>search</a></li>
            </nav>
            <nav class="rs-nav">
                <li><a><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a><i class="fa-brands fa-twitter"></i></a></li>
                <li><a><i class="fa-brands fa-pinterest-p"></i></a></li>
                <li><a><i class="fa-solid fa-bars"></i></a></li>
            </nav>
        </section>
        <section>
            <section>
                <h1>Hello, I'm <strong>Steven</strong></h1>
                <p><span>Welcome to my blog</span></p>
                <p>Don't miss out on the latest news about Travel tips, Hotels review, Food guide...</p>
                <form class="sub-form">
                    <input type="email" name="email" id="user-email" placeholder="Enter your email"/>
                    <input type="submit" value="Subscribe"/>
                </form>
            </section>
            <figure>
                <img src="assets/img/featured.png" alt="Image décorative">
                <figcaption>
                    <p>Une belle image !</p>
                </figcaption>
            </figure>
        </section>
    </header>
    <main>
        
    </main>
</body>
</html>