/*COULEURS*/

$neonPurple: #5e60ce;  
$neonBlue: #64dfdf;  
$palatinate-purple: #7400b8;  
$white: #ffffff;
$skobeloff: #006466;
$pink: #ef476f;  
$yellow: #ffd166;  
$green: #06d6a0;  
$blue: #118ab2;  
$darkBlue: #073b4c;
  
$gradient-top-left: linear-gradient(225deg, #7400b8, #6930c3, #5e60ce, #5390d9, #4ea8de, #48bfe3, #56cfe1);
$gradient-bot-top: linear-gradient(180deg, #7400b8, #6930c3, #5e60ce, #5390d9, #4ea8de, #48bfe3, #56cfe1);

/*POLICES*/

$mainFont: 'JetBrains Mono', monospace;