$secondary-border-color: #f0f8ff;
$mutted-border-color: #eaecee;
$blue: #5869DA;
$lightBlue: #4da7d4;
$darkBlue: #2d3d8b;
$green: #09815C;
$red: #e3363e;
$orange: #e38836;
$white: #FFFFFF;
$light: #f8f9f9;
$lightGrey: #f7f8f9;
$grey: #9b9b9b;
$darkGrey: #687385;
$dark: #000c2d;
    
$mainFont 'Roboto', sans-serif;